@import "bootstrap";

.background {
	background-color: #e0e0e0;
}

.float-right {
	float: right;
}

.center-button {
	display: block;
	margin: 0 auto;
}

.text-independent {
	color: #CEAD00;
}

#submit-address-btn {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

ul {
	list-style-type: none;
}

input[name="zip"] {
	width: 5em;
}

.invisible {
	display: none;
}
